requests
Pillow
python-dotenv
PyJWT
Flask-Migrate
SpeechRecognition
Flask-CORS
openai
pymysql
blinker==1.9.0
boto3==1.35.70
botocore==1.35.70
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
uvicorn
